*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    border: none;
    text-decoration: none;
}
body{
    text-align: center;
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    text-align: center;
}

img{
    max-width: 100%;
    justify-content: center;
}
/* header */
.header{
    display: block;
    padding-top: 60px;
}
.header .logo{
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* hero section */
.hero-section_body .hero-section_main{
    display: block;
    justify-content: center;
    align-items: center;
}

.hero-section_main .hero-section_content{
    width: 100%;
}

.hero-section_main .hero-section_content h1{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-size: 48px;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.hero-section_main .hero-section_content h1 span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.hero-section_main .hero-section_content p{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #15202A;
}

.hero-section_main .hero-section_content form{
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 40px 0 60px;
    width: 100%;
}

.hero-section_main .hero-section_content .email-error{

    width: 446px;
    text-align: left;
    height: 56px;
}

/* .hero-section_main .hero-section_content .form-left {
    flex: 0.7;
} */

.hero-section_main .hero-section_content form input {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 18px 0 18px 30px;
    margin-bottom: 15px;
    width: 421px;
    height: 56px;
    /* flex: 0.65; */
}

.hero-section_main .hero-section_content form input::placeholder {
    font-size: 16px;
    color: hsl(223, 100%, 88%);
}

.button {
    background-color: hsl(223, 87%, 63%);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 18px 30px 18px 30px;
    margin-left: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 2px 8px #4C7BF3;
    transition: all 0.25s ease-in-out;
    width: 200px;
    height: 56px;
    align-items: center;
}

.button:hover, .button:focus{
    filter: brightness(1.3);
    /* opacity: 0.45; */
}
 

#error{
    color: hsl(354, 100%, 66%);
    font-size: 12px;
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    line-height: 20px;
    padding-top: 6px;
    padding-left: 25px;

}

.hero-section_main .hero-section_img{
    max-width: 100%;
    /* margin: 60px 0; */
}
/* footer */
.footer{
    display: block;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 36px;
    margin-top: 72px;
}

.footer .social{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.footer .social li{
    margin: 10px;
    list-style: none;
}

.footer .social li a{
    color:#4C7BF3;
    width: 40px;
    height: 40px;
    border: 1px solid #4C7BF3;
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

}

.footer .social li a:hover{
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: white;
}

.footer p{
    margin: 25px 0 40px;
    color: hsl(0, 0%, 59%);
}

@media (max-width: 767px) {

    .header{
        text-align: center;
    }

    .header .logo{
        width: 56px;
        text-align: center;
    }

    .container{
        text-align: center;
        max-width: 320px;
        width: 100%;
    }

    .hero-section_main .hero-section_content h1{
        margin-top: 32px;
        font-size: 22px;
        line-height: 32px;

    }

    .hero-section_main .hero-section_content p{
        font-size: 12px;
    }

    .hero-section_content form {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5px 15px;

    }

    .hero-section_main .hero-section_content form input {
        padding: 12px 20px;
        width: 280px;
        height: 40px;
        font-size: 12px;
        margin-bottom: 72px;

    }

    .hero-section_main .hero-section_content form input::placeholder {
        font-size: 12px;
    }
   
    .button {
        font-size: 12px;
        padding: 12px 0px;        
        width: 280px;
        text-align: center;
        margin-left: 0px;
        /* margin-top: 10px; */
        height: 40px;
        width: 281px;
    }

    .form-error{
        text-align: center;
    }

    #error{
        font-size: 10px;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 15px;

    }

    .footer{
        font-size: 10px;
        height: 70px;
        width: 170px;
    }
    

   }